<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-attachment-heading" data-cy="AttachmentCreateUpdateHeading" jhiTranslate="printingApp.attachment.home.createOrEditLabel">
        Create or edit a Attachment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
         <!-- <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>-->
          <input type="number" class="form-control" *ngIf="false" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.attachment.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.attachment.fileName" for="field_fileName">File Name</label>
          <input type="text" class="form-control" name="fileName" id="field_fileName" data-cy="fileName" formControlName="fileName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.attachment.pathToFile" for="field_pathToFile">Path To File</label>
          <input
            type="text"
            class="form-control"
            name="pathToFile"
            id="field_pathToFile"
            data-cy="pathToFile"
            formControlName="pathToFile"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.attachment.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'printingApp.FileTypes.null' | translate }}</option>
            <option *ngFor="let fileTypes of fileTypesValues" [value]="fileTypes">
              {{ 'printingApp.FileTypes.' + fileTypes | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.attachment.extension" for="field_extension">Extension</label>
          <select class="form-control" name="extension" formControlName="extension" id="field_extension" data-cy="extension">
            <option [ngValue]="null">{{ 'printingApp.FileExtensions.null' | translate }}</option>
            <option *ngFor="let fileExtensions of fileExtensionsValues" [value]="fileExtensions">
              {{ 'printingApp.FileExtensions.' + fileExtensions | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.attachment.ownerType" for="field_ownerType">Owner Type</label>
          <select class="form-control" name="ownerType" formControlName="ownerType" id="field_ownerType" data-cy="ownerType">
            <option [ngValue]="null">{{ 'printingApp.FileOwnerTypes.null' | translate }}</option>
            <option *ngFor="let fileOwnerTypes of fileOwnerTypesValues" [value]="fileOwnerTypes">
              {{ 'printingApp.FileOwnerTypes.' + fileOwnerTypes | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.attachment.ownerId" for="field_ownerId">Owner Id</label>
          <input type="number" class="form-control" name="ownerId" id="field_ownerId" data-cy="ownerId" formControlName="ownerId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.attachment.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'printingApp.Status.null' | translate }}</option>
            <option *ngFor="let status of statusValues" [value]="status">{{ 'printingApp.Status.' + status | translate }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
