<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-location-heading" data-cy="LocationCreateUpdateHeading" jhiTranslate="printingApp.location.home.createOrEditLabel">
        Create or edit a Location
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
         <!-- <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>-->
          <input type="number" class="form-control" *ngIf="false" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.location.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.location.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.location.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.location.createdOn" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.location.createdById" for="field_createdById">Created By Id</label>
          <input
            type="number"
            class="form-control"
            name="createdById"
            id="field_createdById"
            data-cy="createdById"
            formControlName="createdById"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.location.createdByUsername" for="field_createdByUsername"
            >Created By Username</label
          >
          <input
            type="text"
            class="form-control"
            name="createdByUsername"
            id="field_createdByUsername"
            data-cy="createdByUsername"
            formControlName="createdByUsername"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.location.updatedById" for="field_updatedById">Updated By Id</label>
          <input
            type="number"
            class="form-control"
            name="updatedById"
            id="field_updatedById"
            data-cy="updatedById"
            formControlName="updatedById"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.location.updatedByUsername" for="field_updatedByUsername"
            >Updated By Username</label
          >
          <input
            type="text"
            class="form-control"
            name="updatedByUsername"
            id="field_updatedByUsername"
            data-cy="updatedByUsername"
            formControlName="updatedByUsername"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.location.updatedOn" for="field_updatedOn">Updated On</label>
          <div class="d-flex">
            <input
              id="field_updatedOn"
              data-cy="updatedOn"
              type="datetime-local"
              class="form-control"
              name="updatedOn"
              formControlName="updatedOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.location.parent" for="field_parent">Parent</label>
          <select
            class="form-control"
            id="field_parent"
            data-cy="parent"
            name="parent"
            formControlName="parent"
            [compareWith]="compareLocation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="locationOption" *ngFor="let locationOption of locationsSharedCollection">{{ locationOption.name }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.location.level" for="field_level">Level</label>
          <select
            class="form-control"
            id="field_level"
            data-cy="level"
            name="level"
            formControlName="level"
            [compareWith]="compareLocationLevel"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="locationLevelOption" *ngFor="let locationLevelOption of locationLevelsSharedCollection">
              {{ locationLevelOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
