<div>
  <h2 id="page-heading" data-cy="ReceiptHeading">
    <span jhiTranslate="printingApp.receipt.home.title">Receipts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="printingApp.receipt.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-receipt"
        [routerLink]="['/receipt/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="printingApp.receipt.home.createLabel"> Create a new Receipt </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="receipts?.length === 0">
    <span jhiTranslate="printingApp.receipt.home.notFound">No Receipts found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="receipts && receipts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="invoiceId">
            <div class="d-flex">
              <span jhiTranslate="printingApp.receipt.invoiceId">Invoice Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalCost">
            <div class="d-flex">
              <span jhiTranslate="printingApp.receipt.totalCost">Total Cost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalPaid">
            <div class="d-flex">
              <span jhiTranslate="printingApp.receipt.totalPaid">Total Paid</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="balance">
            <div class="d-flex">
              <span jhiTranslate="printingApp.receipt.balance">Balance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="paymentDate">
            <div class="d-flex">
              <span jhiTranslate="printingApp.receipt.paymentDate">Payment Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="receivedByNames">
            <div class="d-flex">
              <span jhiTranslate="printingApp.receipt.receivedByNames">Received By Names</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let receipt of receipts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/receipt', receipt.id, 'view']">{{ receipt.id }}</a>
          </td>
          <td>{{ receipt.invoiceId }}</td>
          <td>{{ receipt.totalCost }}</td>
          <td>{{ receipt.totalPaid }}</td>
          <td>{{ receipt.balance }}</td>
          <td>{{ receipt.paymentDate | formatMediumDatetime }}</td>
          <td>{{ receipt.receivedByNames }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/receipt', receipt.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/receipt', receipt.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(receipt)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
