<div>
  <h2 id="page-heading" data-cy="DivisionHeading">
    <span jhiTranslate="printingApp.division.home.title">Divisions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="printingApp.division.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-division"
        [routerLink]="['/division/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="printingApp.division.home.createLabel"> Create a new Division </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="divisions?.length === 0">
    <span jhiTranslate="printingApp.division.home.notFound">No Divisions found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="divisions && divisions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!--<th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>-->
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="printingApp.division.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="printingApp.division.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="level">
            <div class="d-flex">
              <span jhiTranslate="printingApp.division.level">Level</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="divisionType">
            <div class="d-flex">
              <span jhiTranslate="printingApp.division.divisionType">Division Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="printingApp.division.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parent.id">
            <div class="d-flex">
              <span jhiTranslate="printingApp.division.parent">Parent</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="organization.id">
            <div class="d-flex">
              <span jhiTranslate="printingApp.division.organization">Organization</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let division of divisions; trackBy: trackId" data-cy="entityTable">
          <!--<td>
            <a [routerLink]="['/division', division.id, 'view']">{{ division.id }}</a>
          </td>-->
          <td><a [routerLink]="['/division', division.id, 'view']">{{ division.name }}</a></td>
          <td>{{ division.description }}</td>
          <td jhiTranslate="{{ 'printingApp.DivisionLevels.' + division.level }}">{{ division.level }}</td>
          <td jhiTranslate="{{ 'printingApp.DivisionTypes.' + division.divisionType }}">{{ division.divisionType }}</td>
          <td jhiTranslate="{{ 'printingApp.Status.' + division.status }}">{{ division.status }}</td>
          <td>
            <div *ngIf="division.parent">
              <a [routerLink]="['/division', division.parent.id, 'view']">{{ division.parent.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="division.organization">
              <a [routerLink]="['/p-organization', division.organization.id, 'view']">{{ division.organization.description }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/division', division.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/division', division.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(division)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
