<div>
  <h2 id="page-heading" data-cy="ClientHeading">
    <span jhiTranslate="printingApp.client.home.title">Clients</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="printingApp.client.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-client"
        [routerLink]="['/client/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="printingApp.client.home.createLabel"> Create a new Client </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clients?.length === 0">
    <span jhiTranslate="printingApp.client.home.notFound">No Clients found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="clients && clients.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="clientType">
            <div class="d-flex">
              <span jhiTranslate="printingApp.client.clientType">Client Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="engagementMode">
            <div class="d-flex">
              <span jhiTranslate="printingApp.client.engagementMode">Engagement Mode</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address">
            <div class="d-flex">
              <span jhiTranslate="printingApp.client.address">Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="currentContractId">
            <div class="d-flex">
              <span jhiTranslate="printingApp.client.currentContractId">Current Contract Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contactPhoneNumber">
            <div class="d-flex">
              <span jhiTranslate="printingApp.client.contactPhoneNumber">Contact Phone Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="organizationId">
            <div class="d-flex">
              <span jhiTranslate="printingApp.client.organizationId">Organization Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="person.id">
            <div class="d-flex">
              <span jhiTranslate="printingApp.client.person">Person</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="company.id">
            <div class="d-flex">
              <span jhiTranslate="printingApp.client.company">Company</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="residenceLocation.id">
            <div class="d-flex">
              <span jhiTranslate="printingApp.client.residenceLocation">Residence Location</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/client', client.id, 'view']">{{ client.id }}</a>
          </td>
          <td jhiTranslate="{{ 'printingApp.ClientTypes.' + client.clientType }}">{{ client.clientType }}</td>
          <td jhiTranslate="{{ 'printingApp.EngagementModes.' + client.engagementMode }}">{{ client.engagementMode }}</td>
          <td>{{ client.address }}</td>
          <td>{{ client.currentContractId }}</td>
          <td>{{ client.contactPhoneNumber }}</td>
          <td>{{ client.organizationId }}</td>
          <td>
            <div *ngIf="client.person">
              <a [routerLink]="['/person', client.person.id, 'view']">{{ client.person.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="client.company">
              <a [routerLink]="['/company', client.company.id, 'view']">{{ client.company.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="client.residenceLocation">
              <a [routerLink]="['/location', client.residenceLocation.id, 'view']">{{ client.residenceLocation.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/client', client.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/client', client.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(client)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="clients && clients.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
