<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-company-heading" data-cy="CompanyCreateUpdateHeading" jhiTranslate="printingApp.company.home.createOrEditLabel">
        Create or edit a Company
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
         <!-- <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>-->
          <input type="number" class="form-control" *ngIf="false" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.company.companyNames" for="field_companyNames">Company Names</label>
          <input
            type="text"
            class="form-control"
            name="companyNames"
            id="field_companyNames"
            data-cy="companyNames"
            formControlName="companyNames"
          />
          <div
            *ngIf="editForm.get('companyNames')!.invalid && (editForm.get('companyNames')!.dirty || editForm.get('companyNames')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('companyNames')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.company.tinNumber" for="field_tinNumber">Tin Number</label>
          <input type="text" class="form-control" name="tinNumber" id="field_tinNumber" data-cy="tinNumber" formControlName="tinNumber" />
          <div *ngIf="editForm.get('tinNumber')!.invalid && (editForm.get('tinNumber')!.dirty || editForm.get('tinNumber')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tinNumber')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.company.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.company.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'printingApp.Status.null' | translate }}</option>
            <option *ngFor="let status of statusValues" [value]="status">{{ 'printingApp.Status.' + status | translate }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
