<div>
  <h2 id="page-heading" data-cy="PayRollHeading">
    <span jhiTranslate="printingApp.payRoll.home.title">Pay Rolls</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="printingApp.payRoll.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pay-roll"
        [routerLink]="['/pay-roll/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="printingApp.payRoll.home.createLabel"> Create a new Pay Roll </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="payRolls?.length === 0">
    <span jhiTranslate="printingApp.payRoll.home.notFound">No Pay Rolls found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="payRolls && payRolls.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!--<th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="organizationId">
            <div class="d-flex">
              <span jhiTranslate="printingApp.payRoll.organizationId">Organization Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>-->
          <th scope="col" jhiSortBy="payFrom">
            <div class="d-flex">
              <span jhiTranslate="printingApp.payRoll.payFrom">Pay From</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="payTo">
            <div class="d-flex">
              <span jhiTranslate="printingApp.payRoll.payTo">Pay To</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="printingApp.payRoll.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalGrossAmount">
            <div class="d-flex">
              <span jhiTranslate="printingApp.payRoll.totalGrossAmount">Total Gross Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalNetAmount">
            <div class="d-flex">
              <span jhiTranslate="printingApp.payRoll.totalNetAmount">Total Net Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payRoll of payRolls; trackBy: trackId" data-cy="entityTable">
          <!--<td>
            <a [routerLink]="['/pay-roll', payRoll.id, 'view']">{{ payRoll.id }}</a>
          </td>
          <td>{{ payRoll.organizationId }}</td>-->
          <td><a [routerLink]="['/pay-roll', payRoll.id, 'view']">{{ payRoll.payFrom | formatMediumDate }}</a></td>
          <td>{{ payRoll.payTo | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'printingApp.PaymentStatuses.' + payRoll.status }}">{{ payRoll.status }}</td>
          <td>{{ payRoll.totalGrossAmount }}</td>
          <td>{{ payRoll.totalNetAmount }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pay-roll', payRoll.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/pay-roll', payRoll.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(payRoll)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
