<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-debtor-heading" data-cy="DebtorCreateUpdateHeading" jhiTranslate="printingApp.debtor.home.createOrEditLabel">
        Create or edit a Debtor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <!--<label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>-->
          <input type="number" class="form-control" name="id" id="field_id" *ngIf="false" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.debtor.serviceDescription" for="field_serviceDescription"
            >Service Description</label
          >
          <input
            type="text"
            class="form-control"
            name="serviceDescription"
            id="field_serviceDescription"
            data-cy="serviceDescription"
            formControlName="serviceDescription"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.debtor.productDescription" for="field_productDescription"
            >Product Description</label
          >
          <input
            type="text"
            class="form-control"
            name="productDescription"
            id="field_productDescription"
            data-cy="productDescription"
            formControlName="productDescription"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.debtor.debtDate" for="field_debtDate">Debt Date</label>
          <div class="d-flex">
            <input
              id="field_debtDate"
              data-cy="debtDate"
              type="datetime-local"
              class="form-control"
              name="debtDate"
              formControlName="debtDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.debtor.debtStatus" for="field_debtStatus">Debt Status</label>
          <select class="form-control" name="debtStatus" formControlName="debtStatus" id="field_debtStatus" data-cy="debtStatus">
            <option [ngValue]="null">{{ 'printingApp.DebtStatuses.null' | translate }}</option>
            <option *ngFor="let debtStatuses of debtStatusesValues" [value]="debtStatuses">
              {{ 'printingApp.DebtStatuses.' + debtStatuses | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('debtStatus')!.invalid && (editForm.get('debtStatus')!.dirty || editForm.get('debtStatus')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('debtStatus')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.debtor.invoicingStatus" for="field_invoicingStatus">Invoicing Status</label>
          <select
            class="form-control"
            name="invoicingStatus"
            formControlName="invoicingStatus"
            id="field_invoicingStatus"
            data-cy="invoicingStatus"
          >
            <option [ngValue]="null">{{ 'printingApp.DebtInvoicingStatuses.null' | translate }}</option>
            <option *ngFor="let debtInvoicingStatuses of debtInvoicingStatusesValues" [value]="debtInvoicingStatuses">
              {{ 'printingApp.DebtInvoicingStatuses.' + debtInvoicingStatuses | translate }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('invoicingStatus')!.invalid &&
              (editForm.get('invoicingStatus')!.dirty || editForm.get('invoicingStatus')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('invoicingStatus')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.debtor.totalAmount" for="field_totalAmount">Total Amount</label>
          <input
            type="number"
            class="form-control"
            name="totalAmount"
            id="field_totalAmount"
            data-cy="totalAmount"
            formControlName="totalAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.debtor.paidAmount" for="field_paidAmount">Paid Amount</label>
          <input
            type="number"
            class="form-control"
            name="paidAmount"
            id="field_paidAmount"
            data-cy="paidAmount"
            formControlName="paidAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.debtor.supplier" for="field_supplier">Supplier</label>
          <select
            class="form-control"
            id="field_supplier"
            data-cy="supplier"
            name="supplier"
            formControlName="supplier"
            [compareWith]="compareSupplier"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="supplierOption" *ngFor="let supplierOption of suppliersSharedCollection">{{ supplierOption.address }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
