<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="payRoll">
      <h2 data-cy="payRollDetailsHeading"><span jhiTranslate="printingApp.payRoll.detail.title">Pay Roll</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <!--<dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ payRoll.id }}</span>
        </dd>
        <dt><span jhiTranslate="printingApp.payRoll.organizationId">Organization </span></dt>
        <dd>
          <span>{{ payRoll.organizationId }}</span>
        </dd>-->
        <dt><span jhiTranslate="printingApp.payRoll.payFrom">Pay From</span></dt>
        <dd>
          <span>{{ payRoll.payFrom | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="printingApp.payRoll.payTo">Pay To</span></dt>
        <dd>
          <span>{{ payRoll.payTo | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="printingApp.payRoll.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'printingApp.PaymentStatuses.' + payRoll.status }}">{{ payRoll.status }}</span>
        </dd>
        <dt><span jhiTranslate="printingApp.payRoll.totalGrossAmount">Total Gross Amount</span></dt>
        <dd>
          <span>{{ payRoll.totalGrossAmount }}</span>
        </dd>
        <dt><span jhiTranslate="printingApp.payRoll.totalNetAmount">Total Net Amount</span></dt>
        <dd>
          <span>{{ payRoll.totalNetAmount }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/pay-roll', payRoll.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
