<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading" jhiTranslate="printingApp.product.home.createOrEditLabel">
        Create or edit a Product
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <!--<label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>-->
          <input type="number" class="form-control" *ngif="false" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.product.category" for="field_category">Category</label>
          <select
            class="form-control"
            id="field_category"
            data-cy="category"
            name="category"
            formControlName="category"
            [compareWith]="compareCategory"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="productCategoryOption" *ngFor="let productCategoryOption of categoriesSharedCollection">
              {{ productCategoryOption.name }}
            </option>
          </select>
        </div>



        <!--<div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.product.categoryName" for="field_categoryName">Category Name</label>
          <input
            type="text"
            class="form-control"
            name="categoryName"
            id="field_categoryName"
            data-cy="categoryName"
            formControlName="categoryName"
          />
          <div
            *ngIf="editForm.get('categoryName')!.invalid && (editForm.get('categoryName')!.dirty || editForm.get('categoryName')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('categoryName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>-->

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.product.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.product.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.product.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.product.unitSalesPrice" for="field_unitSalesPrice">Unit Sales Price</label>
          <input
            type="number"
            class="form-control"
            name="unitSalesPrice"
            id="field_unitSalesPrice"
            data-cy="unitSalesPrice"
            formControlName="unitSalesPrice"
          />
          <div
            *ngIf="
              editForm.get('unitSalesPrice')!.invalid && (editForm.get('unitSalesPrice')!.dirty || editForm.get('unitSalesPrice')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('unitSalesPrice')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('unitSalesPrice')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.product.unitPurchaseCost" for="field_unitPurchaseCost"
            >Unit Purchase Cost</label
          >
          <input
            type="number"
            class="form-control"
            name="unitPurchaseCost"
            id="field_unitPurchaseCost"
            data-cy="unitPurchaseCost"
            formControlName="unitPurchaseCost"
          />
          <div
            *ngIf="
              editForm.get('unitPurchaseCost')!.invalid &&
              (editForm.get('unitPurchaseCost')!.dirty || editForm.get('unitPurchaseCost')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('unitPurchaseCost')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('unitPurchaseCost')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="printingApp.product.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'printingApp.Status.null' | translate }}</option>
            <option *ngFor="let status of statusValues" [value]="status">{{ 'printingApp.Status.' + status | translate }}</option>
          </select>
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
